.ch-creation {
    &--reverse .container {
        flex-direction: row-reverse;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding: 50px 16%;
    }


    form {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
}



