//Colors
$primary: #D3736B;
$secondary: #FF6D6D;
$bg-gradient: linear-gradient(104.37deg, #FF6868 12.46%, #FFBEA2 100%);

//Fonts
$poppins: 'Poppins', sans-serif;

//Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//Mixins
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}